* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.titulo {
  padding-top: 5%;
  text-align: center;
  font-size: 50px;
  font-family: Helvetica, serif;
  font-weight: 100;
  color: #121144;
  text-decoration: underline;
  text-decoration-color: #929492;
  text-underline-offset: 10px;
  border-radius: 10px;


  img {
    filter: drop-shadow(5px 5px 5px #2f439c);
    align-items: center;
    width: 40%;
    height: 40%;
  }
}

.clearfix {
  clear: both;
}

.header-banner {
  padding-top: 35px;
  padding-bottom: 100px;
  height: 600px;
  color: #ffffff;
  font-family: Helvetica, serif;
  font-weight: 100;
  background-image: linear-gradient(rgb(32, 37, 57, 0.5), rgb(32, 37, 57, 0.7)), url(imagenes/bannernintendo64.jpg);
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-repeat: repeat-y, no-repeat;
  background-size: contain, cover;
}

.container-width {

  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

.logo-container {
  float: left;
  width: 50%;
}

.logo {
  background-color: #fff;
  border-radius: 5px;
  width: 130px;
  padding: 10px;
  min-height: 30px;
  text-align: center;
  line-height: 30px;
  color: #4d114f;
  font-size: 23px;
}

.logotitle {

  font-size: 25px;
}

.menu {
  float: right;
  width: 50%;
}

.menu-item {
  float: right;
  font-size: 15px;
  color: #eee;
  width: 130px;
  padding: 10px;
  min-height: 50px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}

.lead-title {
  margin: 20% 0 30px 0;
  font-size: 40px;
}

.sub-lead-title {
  max-width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #c6c6c6;
}

.parrafo {
  display: flex;
  padding: 50px;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  background-color: rgb(32, 37, 57, 0.1);
}

.flex-sect {
  background-color: hsl(0, 0%, 100%);
  font-family: Helvetica, serif;
  padding-top: 100px 0;
  padding-bottom: 100px;


}

.flex-title {
  text-decoration: underline;
  text-decoration-color: #555;
  text-underline-offset: 10px;
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #3b3a66;
  padding: 5px;
}

.flex-desc {
  margin-bottom: 55px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;

}

#containerbanner {
  float: none;
}

#idgo47 {
  color: black;
  height: 50%;
  padding: 0px 0px 0px 0;
  width: 9%;
}